@using Gauss.TccUnifaat.Common.Extensions;
@model IEnumerable<Gauss.TccUnifaat.MVC.ViewModels.DashboardViewModel>
<h1>Dashboard</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tipo de notícia</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TipoNoticia.GetDisplayName()</td>
                <td>@item.qtd</td>
            </tr>
        }
    </tbody>
    
</table>







