@using Gauss.TccUnifaat.Common.Extensions;
@model IEnumerable<Gauss.TccUnifaat.MVC.ViewModels.DashboardViewModel>

@{
    var pageName = "Dashboard";
    ViewData["Title"] = pageName;
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h2>Notícias</h2>
        </div>
        <div class="card-body">


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tipo de Notícia</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TipoNoticia.GetDisplayName()</td>
                            <td>@item.qtd</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>


    <div class="card mb-4">
        <div class="card-header">
            <h2>Usuários</h2>
        </div>
        <div class="card-body">

     
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Função</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Usuarios)
                    {
                        <tr>
                            <td>@item.Funcao</td>
                            <td>@item.QuantidadeUsuarios</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>





