@using Gauss.TccUnifaat.Common.Extensions;
@model IEnumerable<Gauss.TccUnifaat.MVC.ViewModels.DashboardViewModel>

<div class="p-3">

    <!-- Tabela de Notícias -->
    <h2>Notícias</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tipo de Notícia</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TipoNoticia.GetDisplayName()</td>
                    <td>@item.qtd</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Tabela de Usuários -->
    <h2>Usuários</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Função</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Usuarios)
            {
                <tr>
                    <td>@item.Funcao</td>
                    <td>@item.QuantidadeUsuarios</td>
                </tr>
            }
        </tbody>
    </table>

</div>





