<div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./img/carrossel-img3.jpg" class="d-block w-100 imagem-carrossel" alt="...">
        </div>
    </div>
</div>
<div class="p-3">
    <p><strong>Olá, @User.Identity.Name!</strong></p>
    <h2 class="text-center">Seja bem-vindo ao portal do Gauss!!</h2>
</div>