<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content />
    <meta name="author" content />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="d-flex flex-column" style="background-image: url('/img/background.jpg'); background-size: cover; background-repeat: no-repeat;
  background-attachment: fixed; background-position: center center;">
    <main class="flex-shrink-0">
        @RenderBody()
    </main>    
</body>
</html>
