* {
    padding: 0;
}


.nav-item {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.nav-item.dropdown {
    margin-right: 0;
}

.footer {
    position: relative;
    padding: 2%;
    margin: 2%;
}

.link {
    text-decoration: none;
    color: var(--bs-gray);
}

    .link:hover {
        color: var(--bs-black);
    }

.dados {
    list-style: none;
    font-size: 13px;
}


