<partial name="_Carousel" />

<div class="container-flex text-container">
    <h1 class="title">O Projeto</h1>

    <p>
        Lorem ipsum dolor sit amet. Ad nesciunt distinctio aut delectus doloremque aut necessitatibus nulla eum nesciunt perspiciatis aut placeat expedita eos expedita voluptas. Et earum consectetur eos officiis iusto qui itaque quasi aut ipsum similique qui iusto fugiat et quia expedita. Sed veniam quia qui vero ratione ut aliquid similique sit dolor omnis qui aspernatur minus et dolore laboriosam et alias quia.
    Sed repellendus veniam sed quia cupiditate hic veritatis reiciendis eum dolorem soluta et ullam quia et quis incidunt. Et omnis nobis 33 labore molestias non praesentium voluptatem eos corrupti laborum non dolor ipsam id molestiae labore ab voluptatum neque. Est maiores mollitia et aliquam molestiae non voluptas dolorem ut libero quasi. 
        Ea ipsum eligendi quo quos harum et quam iure qui sint aliquid qui impedit maxime! Est dicta voluptatem ad quia quia qui optio voluptatum aut laborum reprehenderit non iusto officia. Id libero tempore in quia quia et aperiam molestiae et nemo omnis! Non quaerat dolores est galisum alias sed quia recusandae sed necessitatibus aliquam sit nobis vero.
    </p>
</div>
