@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row text-center">
        <div class="col-md-6">
            <img class="img-fluid imagem" src="~/img/Forbidden.svg" />
        </div>
        <div class="col-md-6 mb-3" style="margin-top:10%">
            <h2>Você não pode passar!</h2>
            <h3 class="lead mb-5">Verifique se você está logado com as credenciais corretas ou entre em contato com o administrador do sistema para obter assistência.</h3>
            <a class="btn btn-danger" href="/">Voltar para a página inicial</a>
        </div>
    </div>
    

</div>