@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container px-5">
    <div class="rounded-3 py-5 px-4 px-md-5 mb-5 mx-auto">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <h1 class="text-center">Acesso Negado</h1>
            </div>
        </div>
    </div>

    <div class="text-center mb-5">
        <p class="lead fs-6 text-muted mb-0">Desculpe, você não possui permissão para acessar esta página.</p>
        <p>Verifique se você está logado com as credenciais corretas ou entre em contato com o administrador do sistema para obter assistência.</p>
        <p><a href="/">Voltar para a página inicial</a></p>
    </div>

</div>