@model IEnumerable<ControleFaltasViewModel>

@{
    var pageName = "Controle de faltas";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Presenças";
    ViewData["Heading"] = "Presenças: <span class='fw-300'>Controle de faltas</span>";
}

<div class="container-fluid mt-3">

     <div class="card-body">
        <form method="get" class="mb-3">
            <div class="form-group">
                <label for="dataFiltro">Selecione o mês:</label>
                <div class="input-group">
                    <input type="month" id="dataFiltro" name="dataFiltro" class="form-control" value="@ViewBag.DataFiltro.ToString("yyyy-MM")">
                    <button type="submit" class="btn btn-secondary">Filtrar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h5>@pageName</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome do Usuário</th>
                        <th>Quantidade de Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NomeCompleto</td>
                            <td>@item.QtdeFaltas</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
