@model IEnumerable<ControleFaltasViewModel>

@{
    var pageName = "Controle de faltas";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Presenças";
    ViewData["Heading"] = "Presenças: <span class='fw-300'>Controle de faltas</span>";
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h5>@pageName</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome do Usuário</th>
                        <th>Quantidade de Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NomeCompleto</td>
                            <td>@item.QtdeFaltas</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
