@using Microsoft.AspNetCore.Identity
@inject UserManager<Usuario> UserManager

@model IEnumerable<Gauss.TccUnifaat.Common.Models.Turma>

@{
    var pageName = "Cadastrar";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Presenças";
    var presencaSalva = TempData["PresencaSalva"] as bool?;
    var minhaTurma = Model.FirstOrDefault();
}

<partial name="_MensagemPartial" />

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">

            <h1>Turma:
                @if (minhaTurma != null)
                {
                    @minhaTurma.Nome
                }
                else
                {
                    <text>Você não está cadastrado em uma turma</text>
                }
            </h1>

            <form method="post" action="@Url.Action("Create")">

                <div class="row">
                    <div class="col-2">
                        <div class="form-group my-3">
                            <label for="dataAula" class="form-label">Data da Aula:</label>
                            <input type="date" id="dataAula" name="dataAula" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Alunos
                                    </th>
                                    <th>
                                        Confirmar presença
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var turma in Model)
                                {
                                    @foreach (var usuario in turma.Usuarios)
                                    {
                                        var isAluno = await UserManager.IsInRoleAsync(usuario, "Aluno");
                                        if (isAluno)
                                        {
                                            <tr>
                                                <td>
                                                    @usuario.NomeCompleto
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="form-check-input" name="presenca[@usuario.Id]" value="true" />
                                                    <input type="hidden" name="presenca[@usuario.Id]" value="false" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="col-2">
                        <button type="submit" class="btn btn-secondary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
