@model List<Presenca>

@{
    var pageName = "Lista de presenças";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Presenças";
}

<div class="container-fluid mt-3">

    <div class="card-body">
        <form method="get" class="mb-3">
            <div class="form-group">
                <label for="dataFiltro">Selecione a data:</label>
                <div class="input-group">
                    <input type="date" id="dataFiltro" name="dataFiltro" class="form-control" value="@ViewBag.DataFiltro.ToString("yyyy-MM-dd")">
                    <button type="submit" class="btn btn-secondary">Filtrar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName: @ViewBag.DataFiltro.ToString("dd/MM/yyyy")</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome do Aluno</th>
                        <th>Presente</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var presenca in Model)
                    {
                        <tr>
                            <td>@presenca.Usuario.NomeCompleto</td>
                            <td>@(presenca.Presente ? "Sim" : "Não")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

