@model IEnumerable<Gauss.TccUnifaat.Common.Models.Turma>

<div class="p-3">

    <h1>Minha turma</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome da turma</th>
                <th>Alunos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var turma in Model)
            {
                <tr>
                    <td>@turma.Nome</td>
                    <td>
                        @if (turma.Usuarios != null && turma.Usuarios.Any())
                        {
                            <ul>
                                @foreach (var usuario in turma.Usuarios)
                                {
                                    <li>@usuario.NomeCompleto</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>Não há usuários nessa turma</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>