<section class="py-5" id="contact">
    <div class="container px-5">

        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-secondary bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-envelope"></i></div>
                <h1 class="fw-bolder">Entre em contato</h1>
                <p class="lead fw-normal text-muted mb-0">Adoraríamos ouvir de você</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">

                    <form action="https://api.staticforms.xyz/submit" method="post">

                        <input type="hidden" name="accessKey" value="3663793c-0672-4cd0-837d-8c7b5c45ee0c">
                        <input type="hidden" name="redirectTo" value="https://localhost:7022">

                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputNome" name="name" required maxlength="25" minlength="6" type="text" placeholder="Nome completo">
                            <label for="name">Nome completo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" name="email" required maxlength="50" type="email" placeholder="Endereço de Email">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPhone" name="phone" required maxlength="11" type="tel" placeholder="Número de celular">
                            <label for="phone">Telefone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputAssunto" name="Subject" required type="text" placeholder="Assunto">
                            <label for="subject">Assunto</label>
                        </div>
                        <textarea class="form-control" name="message" id="textAreaMensagem" required maxlength="200" cols="30" rows="10" placeholder="Sua mensagem"></textarea>
                        <input id="Btn" type="submit" value="Enviar Mensagem" class="btn btn-secondary mt-3">
                    </form>

                </div>
            </div>
        </div>

    </div>
</section>

<script>

    let confir = document.querySelector('#Btn');
    let nome = document.querySelector('#inputNome');
    let email = document.querySelector('#inputEmail');
    let phone = document.querySelector('#inputPhone');
    let assunto = document.querySelector('#inputAssunto');
    let areatexto = document.querySelector('#textAreaMensagem');



    confir.addEventListener("click", () => {

        if (nome.value === "" || email.value === "" || phone.value === "" || assunto.value === "" || areatexto.value === "") {
            Swal.fire({
                icon: 'error',
                title: 'Erro!',
                text: 'Preencha os campos corretamente.'
            });
        } else {
            Swal.fire({
                icon: 'success',
                title: 'Sucesso!',
                text: 'E-mail enviado com sucesso!'
            });

        }

    })

</script>