<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder mb-3">Cursinho Pré-Vestibular</h1>
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12">
                <p class="lead fw-normal text-muted mb-0">
                <p>
                    O Curso Pré-Vestibular representa o mais antigo projeto educacional do Cursinho Gauss. Na verdade, nossa entidade foi fundada com o propósito de proporcionar um cursinho preparatório para vestibular aos alunos provenientes da Rede Pública de Educação, que não têm meios de arcar com os custos de um cursinho pré-vestibular convencional.
                </p>
                <p>
                    Ao longo de seus 24 anos, o Curso Pré-Vestibular do Gauss tornou-se uma referência na região, oferecendo excelentes serviços à cidade de Atibaia e toda a área circunvizinha. Durante esse período, centenas de alunos foram aprovados nos principais vestibulares do Brasil, incluindo a Universidade de São Paulo (USP), Unicamp, Unesp e diversas Universidades Federais em todo o país. Além disso, centenas de alunos conquistaram aprovação em vestibulares de instituições particulares, garantindo acesso à educação gratuita por meio de bolsas de estudo ou através do Programa Universidade para Todos (ProUni) do governo federal.
                </p>
                <p>
                    O Curso Pré-Vestibular do Gauss conta com professores dedicados em todas as áreas do conhecimento. Um diferencial marcante é que grande parte dos docentes são ex-alunos que, um dia, foram beneficiados pelo projeto e agora retornam para contribuir com os novos estudantes. Dessa maneira, o Gauss mantém a qualidade das aulas e o comprometimento dos voluntários.
                </p>
                <p>
                    Se você tem interesse em integrar nosso grupo de professores voluntários ou deseja ser nosso aluno, entre em contato conosco por meio de nossa seção de Contato. Será um prazer receber sua mensagem.
                </p>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">

    <div class="row gx-5 justify-content-center">
        <h1 class="fw-bolder mb-3 text-center">Notícias</h1>
        @foreach (var noticia in Model)
        {
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="@noticia.UrlImagem" alt="Imagem da Notícia" />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">@noticia.Titulo</h5>
                        </a>
                        <p class="card-text mb-0">@noticia.Conteudo</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="text-muted">@noticia.DataCadastro.ToString("dd/MM/yyyy")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>