<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder mb-3">Curso de Programação Full-stack</h1>
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12">
                <p class="lead fw-normal text-muted mb-0">
                <p>
                    O Curso de Programação representa o mais recente empreendimento do Cursinho Gauss. Ao contrário do Cursinho Pré-Vestibular, que se concentra na preparação para os exames de vestibular, o Curso de Programação visa oferecer uma formação mais técnica, buscando integrar nossos alunos de maneira ágil no mercado de trabalho.
                </p>
                <p>
                    A concepção deste curso surgiu durante conversas entre o presidente do Curso Gauss, o professor Paulo Jesus, e seu amigo e desenvolvedor sênior, Leonardo Dorathoto. Com o advento da pandemia de Covid-19, o setor de tecnologia experimentou avanços significativos, equivalendo a vários anos de progresso em apenas dois. Isso resultou em uma crescente demanda por profissionais de desenvolvimento, proporcionando a oportunidade para jovens sem experiência ingressarem em diversas empresas e construírem uma carreira sólida no campo tecnológico.
                </p>
                <p>
                    O Curso de Programação do Gauss tem como meta formar desenvolvedores full stack aptos a ingressarem no mercado de trabalho como profissionais júnior. Ao longo das mais de 230 horas do curso, os alunos têm a oportunidade de explorar diversas áreas da programação, abrangendo desde lógica de programação, HTML, CSS, .Net, JavaScript até C#. Adicionalmente, os alunos adquirem conhecimentos fundamentais em gerenciamento de projetos, banco de dados, inteligência artificial, entre outros temas.
                </p>
                <p>
                    Se você tem interesse em se juntar ao nosso grupo de professores voluntários ou deseja tornar-se nosso aluno, entre em contato conosco através da nossa seção de Contato. Ficaremos felizes em receber a sua mensagem.
                </p>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="p-5">

    <div class="row gx-5 justify-content-center">
        <h1 class="fw-bolder mb-3 text-center">Notícias</h1>
        @foreach (var noticia in Model)
        {
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="@noticia.UrlImagem" alt="Imagem da Notícia" />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">@noticia.Titulo</h5>
                        </a>
                        <p class="card-text mb-0">@noticia.Conteudo</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="text-muted">@noticia.DataCadastro.ToString("dd/MM/yyyy")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>