<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">
                        Cursinho Comunitário Pré-Universitário Gauss
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-about rounded mb-5 mb-lg-0" src="~/img/sobre-fundacao.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Fundação</h2>
                <p class="lead fw-normal text-muted justify-text mb-0">
                    O Gauss não é apenas um cursinho pré-vestibular, mas sim um cursinho pré-universitário, consciente da complexa realidade brasileira permeada por desafios, especialmente nas áreas social, saúde, segurança e educação. Diante desse cenário, é imperativo que nós, cidadãos brasileiros, nos unamos para buscar soluções para esses problemas.

                    Foi nesse contexto que, a partir de 1999, o cursinho Gauss foi inaugurado em Atibaia. A iniciativa partiu de Francisco O. Ferrarini (Chicão), um jovem estudante da cidade que, de maneira isolada, começou a ministrar aulas de química para alunos interessados em ingressar em universidades públicas do estado. Inicialmente realizado no escritório de advocacia de seu pai, o projeto obteve um excelente resultado: dos três alunos iniciais, Douglas Ferreira conseguiu ingressar em um dos cursos mais concorridos do país, sendo aprovado no curso de música na UNESP.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-about rounded mb-5 mb-lg-0" src="~/img/sobre-crescimento.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Crescimento &amp; Além</h2>
                <p class="lead fw-normal text-muted justify-text mb-0">
                    Com o tempo, o grupo de professores cresceu e incluiu nomes como Danilo Pereira Pinseta, Dante Tanio, Maria Helena P. Mendes, Danilo Bandini Ribeiro, Eugênio Trevisan, Rafael Sanches Rafael Godoi, João Ricardo Mendonça Garcia, Mauro Mizuno, Sergio Nagib Salles, Fernanda Takata, Priscila Ohira, Cristian Annunciato e Juliana Silva Santos.

                    Diante do aumento no corpo docente, surgiu a necessidade de atender a um maior número de alunos, levando o grupo a buscar um novo local. Inicialmente acolhidos pela Sociedade Espírita Casa do Caminho, localizada na Estrada dos Perines, bairro da Boa Vista, que já desenvolvia alguns projetos educacionais. Mas, devido problemas relacionados à dificuldade de deslocamento dos alunos até a sede da Casa do Caminho, o Cursinho Gauss mudou suas atividades para a Escola Estadual Carlos José Ribeiro no ano de 2001. Seguindo a mesma linha de proporcionar um atendimento mais eficaz, mudou-se em 2007 para a Escola José Alvim, situada no centro de Atibaia.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-about rounded mb-5 mb-lg-0" src="~/img/sobre-mudancas.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Mudanças</h2>
                <p class="lead fw-normal text-muted justify-text mb-0">
                    Seguindo nesta mesma linha de atender melhor nossos alunos, o Gauss em 2007 está se mudando com o encerramento do programa Escola da Família pelo governo do Estado, o Cursinho Gauss enfrentou uma mudança significativa em 2012, transferindo suas atividades para a Escola Municipal Maria Helena Ferraz. Apesar da calorosa recepção nessa nova instituição, deparamo-nos com instalações inadequadas para acomodar o porte dos nossos alunos, uma vez que todo o mobiliário escolar estava direcionado para o ensino fundamental 1.

                    Diante desse desafio, tornou-se imperativo buscar um novo espaço capaz de proporcionar uma infraestrutura condizente com as necessidades dos nossos estudantes. Nos anos subsequentes, 2013 e 2014, utilizamos as dependências do Colégio Externato São José. Com o término do contrato de parceria com o Externato São José, o Cursinho Gauss estabeleceu uma nova colaboração, desta vez com o Colégio Faat. Desde 2015, o Gauss realiza suas atividades nas instalações do Colégio Faat, marcando essa parceria como a mais duradoura em toda a história da entidade.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-about rounded mb-5 mb-lg-0" src="~/img/sobre-atualmente.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Atualmente</h2>
                <p class="lead fw-normal text-muted justify-text mb-0">
                    A aliança com o Colégio Faat desempenhou um papel fundamental na abertura de portas com outras instituições, possibilitando o desenvolvimento de novas atividades na esfera educacional. Em 2019, o Cursinho Gauss tornou-se a única entidade da região a oferecer bolsas de estudo para o Centro Universitário Unifaat, proporcionando a centenas de estudantes a oportunidade de ingressar no ensino superior.

                    Com a chegada de 2024, o Cursinho Gauss celebra seus 25 anos de trajetória! Além de preparar os alunos para o vestibular, o Gauss agora oferece bolsas de estudo na Unifaat e mantém um curso técnico voltado para a área da programação de computadores e sistemas computacionais. Com uma dedicação incansável de voluntários, parcerias sólidas com setores público e privado, e valores e ideais firmes, o Cursinho Gauss continua sua missão em busca da construção de uma sociedade mais justa. Convidamos você a fazer parte desta história!"
                </p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Nossos Professores</h2>
            <p class="lead fw-normal text-muted mb-5">Contamos com professores dedicados e prepadados para auxiliar nossos alunos na jornada pelo conhecimento.</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4 img-circle" src="~/img/prof1.jpeg" alt="..." />
                    <h5 class="fw-bolder">Paulo Jesus</h5>
                    <div class="fst-italic text-muted">Presidente &amp; Professor</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4 img-circle" src="~/img/prof2.jpeg" alt="..." />
                    <h5 class="fw-bolder">Carina de Luca</h5>
                    <div class="fst-italic text-muted">Professor</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4 img-circle" src="~/img/prof3.jpeg" alt="..." />
                    <h5 class="fw-bolder">Valmir Antonio</h5>
                    <div class="fst-italic text-muted">Professor</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4 img-circle" src="~/img/prof4.jpeg" alt="..." />
                    <h5 class="fw-bolder">Sergio Tuck</h5>
                    <div class="fst-italic text-muted">Professor</div>
                </div>
            </div>
        </div>
    </div>
</section>