<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">
                        Cursinho Comunitário Pré-Universitário Gauss</p>
                        <a class="btn btn-secondary btn-lg" href="#scroll-target">Leia nossa história</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Fundação</h2>
                <p class="lead fw-normal text-muted mb-0">
                    O Gauss não é um cursinho pré-vestibular, mas sim um cursinho pré-universitário. Sabemos que a realidade brasileira está repleta de problemas, principalmente na área social, envolvendo saúde, segurança e educação. Com isso cabe a nós cidadãos brasileiros nos unirmos para buscarmos soluções para estes problemas.

                    Foi nesse contexto que a partir de 1999 passou a funcionar em Atibaia, o cursinho Gauss. Partindo da atitude isolada de Francisco O. Ferrarini (Chicão), um jovem estudante da cidade passou, a ministrar aulas de química para alguns alunos que pretendiam prestar vestibular nas universidades públicas do estado. A princípio as aulas eram ministradas no escritório de advocacia de seu pai, alcançando um excelente resultado, dos três alunos que iniciaram, Douglas consegue entrar num dos cursos mais concorridos do país, sendo aprovado no curso de música na UNESP.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Crescimento &amp; Além</h2>
                <p class="lead fw-normal text-muted mb-0">
                    A partir daí o grupo cresceu, formando o seguinte grupo de professores: Danilo Pereira Pinseta , Dante Tanio, Maria Helena P. Mendes, Danilo Bandini Ribeiro, Eugênio Trevisan, Rafael Sanches Rafael Godoi, João Ricardo Mendonça Garcia, Mauro Mizuno, Sergio Nagib Salles, Fernanda Takata, Priscila Ohira, Cristian Annunciato e Juliana Silva Santos.

                    Devido ao aumento no quadro de professores, houve a intenção de atender um maior número de alunos. Para isso o grupo buscou um local alternativo. A princípio o grupo foi acolhido pela Sociedade Espírita Casa do Caminho, situada a estrada dos Perines, no bairro da Boa Vista, Atibaia-SP, que já possuía alguns projetos educacionais.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section three-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Atualmente</h2>
                <p class="lead fw-normal text-muted mb-0">Seguindo nesta mesma linha de atender melhor nossos alunos, o Gauss em 2007 está se mudando para a escola José Alvim localizada no centro de Atibaia. Será o início de uma nova parceria, por isso esperamos contar com o apoio da direção da escola. Dentre os motivos pelos quais estamos nos mudando é o fato de estarmos mais próximo do centro, além de estarmos divulgando ainda mais o nosso trabalho.</p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Nossos Professores</h2>
            <p class="lead fw-normal text-muted mb-5">Contamos com professores dedicados e prepadados para auxiliar nossos alunos na jornada pelo conhecimento.</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Ibbie Eckart</h5>
                    <div class="fst-italic text-muted">Presidente &amp; Professor</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Arden Vasek</h5>
                    <div class="fst-italic text-muted">Professor</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Toribio Nerthus</h5>
                    <div class="fst-italic text-muted">Professor</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Malvina Cilla</h5>
                    <div class="fst-italic text-muted">Professor</div>
                </div>
            </div>
        </div>
    </div>
</section>