@*


@{
    var pageName = "Titulo da pagina";
    ViewData["Title"] = pageName;
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">

            <p>
                <a class="btn btn-secondary" asp-action="Create">Cadastrar nova</a>
            </p>

            <!-- Tabela ou formulario aqui -->

        </div>
    </div>
</div>


*@