html {
  font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}*/

.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    width: 100%;
    height: 400px;
    filter: brightness(60%);
}

.title {
    margin-top: 2%;
    margin-bottom: 1%;
    color: #ed1c24;
}

.text-container {
    padding: 3%;
}


