@model List<Presenca>

<h1>Lista de Presenças</h1>

<div class="p-3">

<table class="table">
    <thead>
        <tr>
            <th>Data da Aula</th>
            <th>Nome do Aluno</th>
            <th>Presente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presenca in Model)
        {
            <tr>
                <td>@presenca.DataAula.ToString("dd/MM/yyyy")</td>
                <td>@presenca.Usuario.NomeCompleto</td>
                <td>@(presenca.Presente ? "Não" : "Sim")</td>
            </tr>
        }
    </tbody>
</table>

</div>
