@model List<Usuario>

@{
    ViewData["Title"] = "Index";
}
<div class="p-3">

<h1>Lista de Usuários</h1>

<p>
    <a class="btn btn-secondary" asp-action="Register">Cadastrar usuários</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome Completo</th>
            <th>Email</th>
            <th>Turma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.NomeCompleto</td>
                <td>@user.Email</td>
                    <td>
                        @if (user.Turma != null)
                        {
                            <text>@user.Turma.Nome</text>
                        }
                        else
                        {
                            <text>Sem turma cadastrada</text>
                        }
                    </td>
            </tr>
        }
    </tbody>
</table>

</div>