@{
    var pageName = "Lista de Relatórios";
    ViewData["Title"] = pageName;
    ViewData["Category1"] = "Relatórios";
}

<div class="container-fluid mt-3">

    <div class="card mb-4">
        <div class="card-header">
            <h1>@pageName</h1>
        </div>
        <div class="card-body">

            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="admin" asp-controller="Relatorios" asp-action="RelatorioUsuariosPorTurma" target="_blank">
                    <div class="sb-nav-link-icon"></div>
                    Relatório - Quantidade de usuários por turma
                </a>
                <a class="list-group-item list-group-item-action" asp-area="admin" asp-controller="Relatorios" asp-action="RelatorioQtdFuncao" target="_blank">
                    <div class="sb-nav-link-icon"></div>
                    Relatório - Quantidade de usuários por função
                </a>
                <a class="list-group-item list-group-item-action" asp-area="admin" asp-controller="Relatorios" asp-action="RelatorioFaltas" target="_blank">
                    <div class="sb-nav-link-icon"></div>
                    Relatório de faltas
                </a>
            </div>

        </div>
    </div>
</div>