@using Gauss.TccUnifaat.MVC.Dapper
@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutRelatorio.cshtml";
    var pageName = "Relatório - Quantidade de faltas";
    ViewData["Title"] = pageName;
}

@model IEnumerable<ControleFaltasViewModel>

<div class="d-print-none">
    <form method="get">
        <div class="form-group">
            <label for="dataFiltro">Selecione o mês:</label>
            <div class="input-group">
                <input type="month" id="dataFiltro" name="dataFiltro" class="form-control" value="@ViewBag.DataFiltro.ToString("yyyy-MM")">
                <button type="submit" class="btn btn-secondary">Filtrar</button>
            </div>
        </div>
    </form>
</div>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome do Usuário</th>
            <th>Quantidade de Faltas</th>
            <th>Turma</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NomeCompleto</td>
                <td>@item.QtdeFaltas</td>
                <td>@item.NomeTurma</td>
            </tr>
        }
    </tbody>
</table>
