@{
    Layout = null;
    var pageName = "Relatório - Quantidade de usuários por função";
    ViewData["Title"] = pageName;
}

<html>
<head>
    <meta charset="utf-8">
    <title>@pageName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3">
    <header>
        <h2>@pageName</h2>
    </header>

    <div class="d-print-none">
        <button class="btn btn-secondary my-3" onclick="imprimirPagina()">Imprimir</button>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Função</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Funcao</td>
                    <td>@usuario.QuantidadeUsuarios</td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/js/print.js"></script>
</body>
</html>  