@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutRelatorio.cshtml";
    var pageName = "Relatório - Quantidade de usuários por função";
    ViewData["Title"] = pageName;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Função</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Funcao</td>
                <td>@usuario.QuantidadeUsuarios</td>
            </tr>
        }
    </tbody>
</table>
