@{
    Layout = "~/Areas/Admin/Views/Shared/_layoutRelatorio.cshtml";
    var pageName = "Relatório - Quantidade de alunos por turma";
    ViewData["Title"] = pageName;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Turma</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Turma</td>
                <td>@usuario.QuantidadeUsuariosPorTurma</td>
            </tr>
        }
    </tbody>
</table>
